<div class="intro">
  <p>Please provide the following details.</p>
</div>
<form id="attributeVerification" action="JavaScript:void(0);">
  <div class="error pageLevel invalid-feedback" id="passwordEntryMismatch" style="display: none;" aria-hidden="true">
    The password entry fields do not match. Please enter the same password in both fields and try again.
  </div>
  <div class="error pageLevel invalid-feedback" id="requiredFieldMissing" style="display: none;" aria-hidden="true">
    A required field is missing. Please fill out all required fields and try again.
  </div>
  <div class="error pageLevel invalid-feedback" id="fieldIncorrect" style="display: none;" aria-hidden="true">
    One or more fields are filled out incorrectly. Please check your entries and try again.
  </div>
  <div
    class="error pageLevel invalid-feedback"
    id="claimVerificationServerError"
    style="display: none;"
    aria-hidden="true"
  ></div>
  <div class="attr" id="attributeList">
    <ul>
      <li class="EmailBox">
        <div class="attrEntry form-group">
          <div>
            <div
              class="verificationInfoText"
              id="email_intro"
              style="display: inline;"
              aria-hidden="false"
              role="alert"
              aria-label="Verification is necessary. Please click Send button."
              aria-live="polite"
            >
              Verification is necessary. Please click Send button.
            </div>
            <div
              class="verificationInfoText"
              id="email_info"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="Verification code has been sent to your inbox. Please copy it to the input box below."
            >
              Verification code has been sent to your inbox. Please copy it to the input box below.
            </div>
            <div
              class="verificationSuccessText"
              id="email_success"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="E-mail address verified. You can now continue."
            >
              E-mail address verified. You can now continue.
            </div>
            <div
              class="verificationErrorText error invalid-feedback"
              id="email_fail_retry"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="That code is incorrect. Please try again."
            >
              That code is incorrect. Please try again.
            </div>
            <div
              class="verificationErrorText error invalid-feedback"
              id="email_fail_no_retry"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="You've made too many incorrect attempts. Please try again later."
            >
              You've made too many incorrect attempts. Please try again later.
            </div>
            <div
              class="verificationErrorText error invalid-feedback"
              id="email_fail_throttled"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="There have been too many requests to verify this email address. Please wait a while, then try again."
            >
              There have been too many requests to verify this email address. Please wait a while, then try again.
            </div>
            <div
              class="verificationErrorText error invalid-feedback"
              id="email_fail_code_expired"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="That code is expired. Please request a new code."
            >
              That code is expired. Please request a new code.
            </div>
            <div
              class="verificationErrorText error invalid-feedback"
              id="email_fail_server"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="We are having trouble verifying your email address. Please enter a valid email address and try again."
            >
              We are having trouble verifying your email address. Please enter a valid email address and try again.
            </div>
            <div
              class="verificationErrorText error invalid-feedback"
              id="email_incorrect_format"
              style="display: none;"
              aria-hidden="true"
              role="alert"
              aria-label="Incorect format."
            >
              Incorect format.
            </div>
          </div>

          <label for="email">Email Address</label>

          <div class="error itemLevel invalid-feedback" role="alert"></div>

          <input
            id="email"
            class="textInput form-control"
            type="email"
            placeholder="Email Address"
            pattern="^[a-zA-Z0-9!#$%&amp;'+^_`{}~-]+(?:\.[a-zA-Z0-9!#$%&amp;'+^_`{}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
            title="Email address that can be used to contact you."
            aria-required="true"
          />

          <a href="javascript:void(0)" data-help="Email address that can be used to contact you." class="helpLink tiny"
            >What is this?</a
          >

          <div class="buttons verify" data-claim_id="email">
            <div id="email_success_screenreader_msg" aria-label="E-mail address verified. You can now continue."></div>
            <div
              id="email_ver_wait"
              class="working"
              aria-label="Please wait"
              aria-hidden="true"
              style="display: none;"
            ></div>
            <label id="email_ver_input_label" for="email_ver_input" aria-hidden="true" style="display: none;"
              >Verification code</label
            >
            <input
              id="email_ver_input"
              class="verifyInput form-control"
              type="text"
              placeholder="Verification code"
              style="display: none;"
              aria-hidden="true"
            />
            <button
              id="email_ver_but_send"
              class="sendButton btn btn-info"
              type="button"
              style="display: inline;"
              aria-label="Send verification code"
              aria-hidden="false"
            >
              Send verification code
            </button>
            <button
              id="email_ver_but_verify"
              class="verifyButton btn btn-info"
              type="button"
              style="display: none;"
              aria-label="Verify code"
              aria-hidden="true"
            >
              Verify code
            </button>
            <button
              id="email_ver_but_resend"
              class="sendButton btn btn-light"
              type="button"
              style="display: none;"
              aria-label="Send new code"
              aria-hidden="true"
            >
              Send new code
            </button>

            <button
              id="email_ver_but_edit"
              class="editButton btn btn-light"
              type="button"
              style="display: none;"
              aria-label="Change e-mail"
              aria-hidden="true"
            >
              Change e-mail
            </button>

            <button
              id="email_ver_but_default"
              class="defaultButton btn btn-light"
              type="button"
              style="display: none;"
              aria-label="Default"
            >
              Default
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button
      id="continue"
      type="submit"
      form="attributeVerification"
      disabled=""
      aria-label="Continue"
      class="btn btn-primary"
    >
      Continue
    </button>
    <button id="cancel" aria-label="Cancel" formnovalidate="" class="btn btn-light">Cancel</button>
  </div>

  <div class="verifying-modal">
    <div id="verifying_blurb"></div>
  </div>
</form>
